<h1 class='text-center mt-5 mb-5'>Edit <%= resource_name.to_s.humanize %></h1>

<div class='container border rounded bg-light w-50 p-3'>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :first_name, :class => "mt-2" %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", :class => "form-control", :maxlength => "20", :required => true %>
  </div>

  <div class="field">
    <%= f.label :last_name, :class => "mt-2 mb-2" %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", :class => "form-control", :maxlength => "20", :required => true %>
  </div>

  <div class="field">
    <%= f.label :username, :class => "mt-2 mb-2" %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username", :class => "form-control", :maxlength => "20", :required => true %>
  </div>

  <div class="field">
    <%= f.label :bio, :class => "mt-2 mb-2" %><br />
    <%= f.text_area :bio, autofocus: true, autocomplete: "bio", :class => "form-control", :rows => "5", :maxlength => "200", :required => true %>
  </div>

  <div class="field">
    <%= f.label :email, :class => "mt-2 mb-2" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", :required => true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, :class => "mt-2 mb-2" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, :class => "mt-2 mb-2" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control" %>
  </div>
  
  <br />

  <div class="field">
    <%= f.label :current_password, :class => "mt-2 mb-2" %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", :class => "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", :class => "btn btn-success w-100 mt-2 mb-2" %>
  </div>
  <%= link_to "Back", :back, :class => "btn btn-primary w-100" %>
<% end %>
</div>
